.quick-pick-btn-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $primary-light-black-color;
}

.quick-pick-btn{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: $primary-yellow-color;
  border-radius: 5px;
}