.clear-betslip__subtitle{
font-size: 12px;
}
.clear-betslip-buttons{
   padding-top: 20px;
}
.clear-betslip{
    background-color: #ffffff;
    color: #202124;   
}
.user-login-reg__top--height{
    height: 450px;    
}