.header-user {
  margin: 0 5px 0 15px;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  position: relative;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  .header--fixed & {
    @include media-max($prevlg) {
      margin-right: 10px;
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__right {
    padding-left: 3px; // 13px;

    @include media-max($xs) {
      display: none;
    }

    .header--fixed & {
      @include media-max($prevlg) {
        display: none;
      }
    }
  }

  &__name {
    padding: 3px 23px 4px 10px;
    margin-bottom: 2px;
    position: relative;

    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #373838 !important;

    &--active {
      background-color: rgba(#373838, 0.06);
      border-radius: 6px;
    }
  }

  &__balance {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

    font-size: 10px;
    font-weight: 700;
    color: #373838;
    text-transform: uppercase;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -7px;
    margin-top: -2px;

    width: 7px;
    height: 4px;
    background-image: url('../assets/img/icons/arrow-down.svg');
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;

    @include media-max($xs) {
      right: -10px;
    }
    .header--fixed & {
      @include media-max($prevlg) {
        right: -10px;
      }
    }
  }
  &--active::after {
    background-image: url('../assets/img/icons/arrow-up.svg');
  }

  @include media-max($sm) {
    margin: 0 10px 0 5px;

    &__avatar {
      width: 30px;
      height: 30px;
    }
  }
}
