.interesting {
  background-color: $main;
  color: #fff;
  padding: 0 14px 26px;

  &__header {
    padding: 26px 16px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__title {
    color: #373838;
    font-size: 18px;
    font-weight: 700;
    margin: 0;

    &-span {
      color: #fff;
      font-weight: 300;
    }
  }

  .slider-arrows__item {
    color: #fff;
  }

  @include media-max($xs) {
    padding: 0 0 26px;

    &__header {
      padding: 26px 22px 25px;
    }
  }

}

.interesting-slider {
  outline: none;
  overflow: hidden;
  max-height: 150px;

  &__item {
    // min-width: 112px;
    // max-width: 112px;
    width: 112px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    
    // @include media-min($md) {
    //   width: 16.67%;
    // }
    // @include media-max($md) {
    //   width: 16.67%;
    // }
    // @include media-max($sm) {
    //   width: 25%;
    // }
    // @include media-max($xs) {
    //   width: 33.3%;
    // }
  }

  &__team {

    &-figure {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #fdd92a;
      background-color: $light3;
      display: flex;
      margin: 5px auto 11px;
      position: relative;
    }

    &-img {
      max-width: 40px;
      max-height: 40px;
      margin: auto;
    }

    &-count {
      position: absolute;
      right: -2px;
      top: -2px;
      width: 24px;
      height: 24px;
      border: 2px solid #fff;
      background-color: $main;
      color: #fff;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
    }

    &-caption {
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 1px;
    }

    &-name {
      color: #3d3c38;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.29;
      margin: 0;
    }
  }

  &__game {

    &-logos {
      width: 90px;
      margin: 0 auto 6px;
    }

    &-figure {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 5px solid #fdd92a;
      background-color: $light3;
      display: flex;
      margin: 0;
      position: relative;

      & + & {
        margin: -30px 0 0 30px;
      }

      &:first-child {
        z-index: 1;
      }
    }

    &-img {
      max-width: 25px;
      max-height: 25px;
      margin: auto;
    }

    &-caption {
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 1px;
    }

    &-team {
      color: #3d3c38;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.29;
      margin: 0;

      & + & {
        color: #fff;
        font-weight: 400;
      }
    }
  }

  &__player {

    &-figure {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #ececec;
      background-color: #e3e3e3;
      position: relative;
      display: inline-block;
    }

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &-country {
      position: absolute;
      right: -2px;
      bottom: -2px;
      width: 24px;
      height: 24px;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    &-caption {
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 1px;
    }

    &-name {
      color: #3d3c38;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.29;
      margin: 0;
    }
  }
}
