.main-news {
  height: 340px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__social {
    display: flex;

    &-item {
      width: 32px;
      height: 32px;
      border-radius: 59%;
      background: $main;
      color: white;
      font-size: 14px;
      text-align: center;
      box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
      border: none;
      line-height: 32px;

      & + & {
        margin-left: 14px;
      }

      &--twitter {
        background-color: #2aa3ef;
        font-size: 11px;
      }

      &--facebook {
        background-color: #3d5a96;
      }
    }
  }

  &__sport {
    color: $main;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.13;
    margin-bottom: 8px;

    &-link {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }

    &-span {
      display: block;
      font-weight: 300;
    }
  }

  &__footer {
    display: flex;
  }

  &__author {
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    margin: 0;
  }

  &__time {
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    margin: 0 0 0 13px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: #fff;
      left: -7px;
      top: 50%;
      margin-top: -1px;

    }
  }

  @include media-max($sm) {
    height: 280px;
  }

  @include media-max($xs) {
    height: 240px;
    padding: 20px 20px 16px;
  }

}

.main-news__title-link-text {
  &--cut {
    @include media-min($xs) {
      display: none;
    }
  }
  &--full {
    @include media-max($xs) {
      display: none;
    }
  }
}
