@import "../globals";

.popups {
  display: none;
  position: absolute; // fixed
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;

  &_visible {
    display: block;
  }
}

.popups__item {
  display: none;

  &:last-child {
    display: inherit;
  }
}
