$font-size: 16px;

$regular-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$inch-27-width: 2560px;
$inch-21-width: 1920px;
$inch-15-width: 1440px;
$inch-13-width: 1280px;
$mobile-max-width: 992px;
$phone-max-width: 480px;
