$default-font: ("Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI" , Roboto,"Helvetica Neue", Arial, sans-serif);

$text-color: #070a14;
$text-color2: #141717;


$main: #fdd50b;
$danger: #f04e3f;
$green: #43bc9c;

$gray: #7f7f7f;
$gray2: #a5a4a4;

$light1: #f8f8f8;
$light2: #f3f3f3;
$light3: #f2f2f2;

$dark: #202323;

$prevlg: 1440px;
$lg: 1279px;
$md: 1120px; 
$sm: 810px;
$xs: 560px;
